In [486]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt
#import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
from sklearn.metrics import accuracy_score

In [487]:
data=pd.read_excel(r"C:\Users\1741710\Downloads\disc_sajid.xlsx")

In [489]:
data.head()

,Unnamed: 0,Transport Task,Shipment Number,Name,Address,City,Post Code,Merged Stops,Stop Number Without Merge
0,0,246924867.0,xxxxxxxxxxxxx0092,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx...,xxxxxxxxxxRIMAANTIE 3,YLIVIESKA,84100.0,3.0,3.0
1,1,246924867.0,xxxxxxxxxxxxx9843,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx...,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxRIMAANTIE 3 0444...,YLIVIESKA,84100.0,3.0,3.0
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,246892565.0,xxxxxxxxxxxxx4615,xxxxxxxxxxxxxxxxxxxxxxxxxxINEN,xxxxxxUNTIE 2,VILPPULA,35700.0,-1.0,30.0
4,1,246892565.0,xxxxxxxxxxxxx4257,xxxxxxxxxxxxxxxxxxxxxxxxxxASTO,xxxxxxATIE 10,KORKEAKOSKI,35500.0,-1.0,6.0

In [490]:
dropna_data=data.dropna()
dropna_data.shape

(68343, 9)

In [492]:
features_data=dropna_data[['Address','City','Post Code','Merged Stops']]

In [493]:
features_data_=features_data.replace(features_data['Merged Stops'][3],np.nan)

In [494]:
features_data=features_data_.dropna()

In [495]:
features_data['Post Code']=features_data['Post Code'].astype('int')

In [496]:
features_data

,Address,City,Post Code,Merged Stops
0,xxxxxxxxxxRIMAANTIE 3,YLIVIESKA,84100,3.0
1,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxRIMAANTIE 3 0444...,YLIVIESKA,84100,3.0
11,xxxxxxxxxxxxxxxxxxxxxxxxxkaajankatu 18 C (Sara...,MÄNTTÄ,35800,40.0
12,xxxxxxxxxxxxKAAJANKATU 18,MÄNTTÄ,35800,40.0
13,xxxxxxxxxxxxxxKAAJANKATU 18 D,MÄNTTÄ,35800,40.0
...,...,...,...,...
79543,xxxxxtakatu,KOKKOLA,67100,8.0
79544,"xxxxxxxxxxxxxxxxtakatu 2 B, 3.krs",KOKKOLA,67100,8.0
79546,xxxxxxxxxTAKATU 2-4,KOKKOLA,67100,10.0
79547,xxxxxxxxxxxtaankatu 3 5,KOKKOLA,67100,10.0
79548,xxxxxxxxxtakatu 2-4,Kokkola,67100,10.0

In [497]:
h=features_data.groupby(features_data['Merged Stops'])

In [498]:
disc_df=pd.DataFrame(columns=features_data.columns)

In [ ]:
grouped_data = features_data.groupby('Merged Stops').

In [ ]:
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}

# Create DataFrame
df = pd.DataFrame(data)
df[df.columns].values.T.ravel().tolist()

In [ ]:
f

In [499]:
result=[]
grouped_data = features_data.groupby('Merged Stops')
gb = grouped_data.groups
for group_key, values in gb.items():
    stop_data = grouped_data.get_group(group_key)
    result.append(stop_data.values)

In [500]:
len(list(pd.unique(features_data['Merged Stops'])))

77

In [501]:
df_=pd.DataFrame(columns=df.columns)

In [502]:
features_data=features_data.reset_index().drop(['index'],1)

In [503]:
new_dat=features_data.sort_values(by=['Merged Stops']).reset_index().drop(['index'],1)

# subsetting the data with same address,different address,same address with special char,

# same  address: 45%
# different address: 45
# mixing address(same address with special char) : 10%

In [504]:
new_dat

,Address,City,Post Code,Merged Stops
0,xxxxxxxximotie 11,VANDA,1400,1.0
1,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0
2,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0
3,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0
4,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0
...,...,...,...,...
63834,xxxxxxADDRESS,JOUTSENO,54100,79.0
63835,xxxxxxxxxiokuja 4-6,TURKU,20380,80.0
63836,xxxxxxxIOKUJA 6,TURKU,20380,80.0
63837,"xxxxxxxxxxxxxxxxxxxxxKTRONIIKKATIE 2, 2.KRS",OULU,90590,81.0
63838,xxxxxxxxxxxxxxKTRONIIKKATIE 2,OULU,90590,81.0

In [505]:
new_dat['address_with_city_zipcode_1']=np.nan

In [507]:
import warnings
warnings.filterwarnings('ignore')
for i in range(len(new_dat)*45//100):
    new_dat['address_with_city_zipcode_1'][i]=new_dat['Address'][i]+" "+str(new_dat['City'][i])+" "+str(new_dat['Post Code'][i])

In [508]:
new_dat_dropna=new_dat.dropna()

In [509]:
new_dat_next_45=new_dat[new_dat.isna().any(axis=1)]

In [510]:
new_dat_next_45=new_dat_next_45.reset_index().drop(['index'],1)

In [511]:
address_with_city_zipcode=[]
for i in range(len(new_dat_dropna)*45//100):
    new_dat_next_45['address_with_city_zipcode_1'][i]=new_dat_next_45['Address'][i]+" "+str(new_dat_next_45['City'][i])+" "+str(new_dat_next_45['Post Code'][i])

In [512]:
new_dat_next_45_drop_na=new_dat_next_45.dropna()

In [513]:
len(new_dat_dropna),len(new_dat_next_45_drop_na)

(28727, 12927)

In [460]:
new_dat

,Address,City,Post Code,Merged Stops,address_with_city_zipcode_1
0,xxxxxxxximotie 11,VANDA,1400,1.0,xxxxxxxximotie 11 VANDA 1400
1,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130
2,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...
3,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...
4,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130
...,...,...,...,...,...
63834,xxxxxxADDRESS,JOUTSENO,54100,79.0,NaN
63835,xxxxxxxxxiokuja 4-6,TURKU,20380,80.0,NaN
63836,xxxxxxxIOKUJA 6,TURKU,20380,80.0,NaN
63837,"xxxxxxxxxxxxxxxxxxxxxKTRONIIKKATIE 2, 2.KRS",OULU,90590,81.0,NaN
63838,xxxxxxxxxxxxxxKTRONIIKKATIE 2,OULU,90590,81.0,NaN

In [461]:
new_dat_dropna

,Address,City,Post Code,Merged Stops,address_with_city_zipcode_1
0,xxxxxxxximotie 11,VANDA,1400,1.0,xxxxxxxximotie 11 VANDA 1400
1,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130
2,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...
3,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...
4,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130
...,...,...,...,...,...
28722,xxxxxxxxxxxxxxxxTO KAKELAN KATU 1,LAPPEENRANTA,53130,6.0,xxxxxxxxxxxxxxxxTO KAKELAN KATU 1 LAPPEENRANTA...
28723,xxxxxxxxxxxxxxxxTO KAKELAN KATU 1,LAPPEENRANTA,53130,6.0,xxxxxxxxxxxxxxxxTO KAKELAN KATU 1 LAPPEENRANTA...
28724,xxxxxxxxxxxxxxTAATSILLANTIE 3,SAVONLINNA,57170,6.0,xxxxxxxxxxxxxxTAATSILLANTIE 3 SAVONLINNA 57170
28725,xxxxxxxxxxxxILANOJAKATU 2,Ylivieska,84100,6.0,xxxxxxxxxxxxILANOJAKATU 2 Ylivieska 84100
28726,"xxxxxxxxxxxxxxxxxxxxxxxxILANOJANKATU 2, LAITURI 3",YLIVIESKA,84100,6.0,"xxxxxxxxxxxxxxxxxxxxxxxxILANOJANKATU 2, LAITUR..."

In [462]:
features_data

,Address,City,Post Code,Merged Stops
0,xxxxxxxxxxRIMAANTIE 3,YLIVIESKA,84100,3.0
1,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxRIMAANTIE 3 0444...,YLIVIESKA,84100,3.0
2,xxxxxxxxxxxxxxxxxxxxxxxxxkaajankatu 18 C (Sara...,MÄNTTÄ,35800,40.0
3,xxxxxxxxxxxxKAAJANKATU 18,MÄNTTÄ,35800,40.0
4,xxxxxxxxxxxxxxKAAJANKATU 18 D,MÄNTTÄ,35800,40.0
...,...,...,...,...
63834,xxxxxtakatu,KOKKOLA,67100,8.0
63835,"xxxxxxxxxxxxxxxxtakatu 2 B, 3.krs",KOKKOLA,67100,8.0
63836,xxxxxxxxxTAKATU 2-4,KOKKOLA,67100,10.0
63837,xxxxxxxxxxxtaankatu 3 5,KOKKOLA,67100,10.0
63838,xxxxxxxxxtakatu 2-4,Kokkola,67100,10.0

In [463]:
features_data=features_data.sort_values(by=['Merged Stops']).reset_index().drop(['index'],1)

In [464]:
features_data

,Address,City,Post Code,Merged Stops
0,xxxxxxxximotie 11,VANDA,1400,1.0
1,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0
2,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0
3,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0
4,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0
...,...,...,...,...
63834,xxxxxxADDRESS,JOUTSENO,54100,79.0
63835,xxxxxxxxxiokuja 4-6,TURKU,20380,80.0
63836,xxxxxxxIOKUJA 6,TURKU,20380,80.0
63837,"xxxxxxxxxxxxxxxxxxxxxKTRONIIKKATIE 2, 2.KRS",OULU,90590,81.0
63838,xxxxxxxxxxxxxxKTRONIIKKATIE 2,OULU,90590,81.0

In [465]:
features_data['merged_data']=np.nan
for i in range(len(features_data)):
    features_data['merged_data'][i]=features_data['Address'][i]+" "+str(features_data['City'][i])+" "+str(features_data['Post Code'][i])

In [466]:
features_data

,Address,City,Post Code,Merged Stops,merged_data
0,xxxxxxxximotie 11,VANDA,1400,1.0,xxxxxxxximotie 11 VANDA 1400
1,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130
2,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...
3,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...
4,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130
...,...,...,...,...,...
63834,xxxxxxADDRESS,JOUTSENO,54100,79.0,xxxxxxADDRESS JOUTSENO 54100
63835,xxxxxxxxxiokuja 4-6,TURKU,20380,80.0,xxxxxxxxxiokuja 4-6 TURKU 20380
63836,xxxxxxxIOKUJA 6,TURKU,20380,80.0,xxxxxxxIOKUJA 6 TURKU 20380
63837,"xxxxxxxxxxxxxxxxxxxxxKTRONIIKKATIE 2, 2.KRS",OULU,90590,81.0,"xxxxxxxxxxxxxxxxxxxxxKTRONIIKKATIE 2, 2.KRS OU..."
63838,xxxxxxxxxxxxxxKTRONIIKKATIE 2,OULU,90590,81.0,xxxxxxxxxxxxxxKTRONIIKKATIE 2 OULU 90590

In [467]:
new_dat_next_45_drop_na

,Address,City,Post Code,Merged Stops,address_with_city_zipcode_1
0,xxxxxxxxxxxxxxxxto Käkelän katu 1,Lappeenranta,53130,6.0,xxxxxxxxxxxxxxxxto Käkelän katu 1 Lappeenranta...
1,xxxxxxxxxxxxxxILANNIEMENTIE 4,LAPPEENRANTA,53130,6.0,xxxxxxxxxxxxxxILANNIEMENTIE 4 LAPPEENRANTA 53130
2,xxxxxxxlokatu 1,Jarvenpaa,750,6.0,xxxxxxxlokatu 1 Jarvenpaa 750
3,xxxxxxxxxxxxxxITEHTAANKATU 10,HANKO,10900,6.0,xxxxxxxxxxxxxxITEHTAANKATU 10 HANKO 10900
4,xxxxxxxxxxxxxxITEHTAANKATU 10,HANKO POHJOINEN,10960,6.0,xxxxxxxxxxxxxxITEHTAANKATU 10 HANKO POHJOINEN ...
...,...,...,...,...,...
12922,xxxxxxxxxxxxlimiehentie 2,VANTAA,1530,11.0,xxxxxxxxxxxxlimiehentie 2 VANTAA 1530
12923,xxxxxxxxxxxSITIE 8 LEVI,SIRKKA,99130,11.0,xxxxxxxxxxxSITIE 8 LEVI SIRKKA 99130
12924,xxxxxxxxxxxxlimiehentie 2,VANTAA,1530,11.0,xxxxxxxxxxxxlimiehentie 2 VANTAA 1530
12925,xxxxxxxxxxxxrikukonkuja 5,Helsinki,700,11.0,xxxxxxxxxxxxrikukonkuja 5 Helsinki 700
12926,xxxxxxxxxxxxrikukonkuja 5,Helsinki,700,11.0,xxxxxxxxxxxxrikukonkuja 5 Helsinki 700

In [468]:
new_dat_dropna

,Address,City,Post Code,Merged Stops,address_with_city_zipcode_1
0,xxxxxxxximotie 11,VANDA,1400,1.0,xxxxxxxximotie 11 VANDA 1400
1,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130
2,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...
3,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...
4,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130
...,...,...,...,...,...
28722,xxxxxxxxxxxxxxxxTO KAKELAN KATU 1,LAPPEENRANTA,53130,6.0,xxxxxxxxxxxxxxxxTO KAKELAN KATU 1 LAPPEENRANTA...
28723,xxxxxxxxxxxxxxxxTO KAKELAN KATU 1,LAPPEENRANTA,53130,6.0,xxxxxxxxxxxxxxxxTO KAKELAN KATU 1 LAPPEENRANTA...
28724,xxxxxxxxxxxxxxTAATSILLANTIE 3,SAVONLINNA,57170,6.0,xxxxxxxxxxxxxxTAATSILLANTIE 3 SAVONLINNA 57170
28725,xxxxxxxxxxxxILANOJAKATU 2,Ylivieska,84100,6.0,xxxxxxxxxxxxILANOJAKATU 2 Ylivieska 84100
28726,"xxxxxxxxxxxxxxxxxxxxxxxxILANOJANKATU 2, LAITURI 3",YLIVIESKA,84100,6.0,"xxxxxxxxxxxxxxxxxxxxxxxxILANOJANKATU 2, LAITUR..."

In [469]:
n90_percent_data_list=new_dat_dropna.address_with_city_zipcode_1.to_list()

In [470]:
# (new_dat_next_45_drop_na.address_with_city_zipcode_1.to_list())

In [471]:
n90_percent_data_list.extend(new_dat_next_45_drop_na.address_with_city_zipcode_1.to_list())

In [472]:
len(n90_percent_data_list)

41654

In [473]:
making_merging_data=features_data[:len(n90_percent_data_list)]

In [474]:
features_data

,Address,City,Post Code,Merged Stops,merged_data
0,xxxxxxxximotie 11,VANDA,1400,1.0,xxxxxxxximotie 11 VANDA 1400
1,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130
2,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...
3,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...
4,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130
...,...,...,...,...,...
63834,xxxxxxADDRESS,JOUTSENO,54100,79.0,xxxxxxADDRESS JOUTSENO 54100
63835,xxxxxxxxxiokuja 4-6,TURKU,20380,80.0,xxxxxxxxxiokuja 4-6 TURKU 20380
63836,xxxxxxxIOKUJA 6,TURKU,20380,80.0,xxxxxxxIOKUJA 6 TURKU 20380
63837,"xxxxxxxxxxxxxxxxxxxxxKTRONIIKKATIE 2, 2.KRS",OULU,90590,81.0,"xxxxxxxxxxxxxxxxxxxxxKTRONIIKKATIE 2, 2.KRS OU..."
63838,xxxxxxxxxxxxxxKTRONIIKKATIE 2,OULU,90590,81.0,xxxxxxxxxxxxxxKTRONIIKKATIE 2 OULU 90590

In [475]:
n90_percent_data_list[:len(n90_percent_data_list)*50//100]=features_data.merged_data[:len(n90_percent_data_list)*50//100]

In [476]:
n90_percent_data_list

['xxxxxxxximotie 11 VANDA 1400',
 'xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130',
 'xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALMI 74130',
 'xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALMI 74130',
 'xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130',
 'xxxxxLÄNTIE IISALMI 74130',
 'xxxxxxxxolantie 1 Lehmo 80100',
 'xxxxxxxxOLANTIE 1 LEHMO 80710',
 'xxxxxxxxolantie 1 LEHMO 80710',
 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxrtmaninkatu 1-3, K1-krs näytteiden vast.otto HELSINKI 290',
 'xxxxxxxxxxxxxxrtmaninkatu 1-3 HELSINKI 290',
 'xxxxxxxxxxxxxxrtmaninkatu 1-3 HELSINKI 290',
 'xxxxxxxxxxxxxxrtmaninkatu 1-3 HELSINKI 290',
 'xxxxxxxxxxxxxxxrtmanninkatu 1-3 Helsinki 290',
 'xxxxxxxxxxxxxxrtmaninkatu 1-3 HELSINKI 290',
 'xxxxxxxLÄNTIE 4 IISALMI 74130',
 'xxxxxxxLÄNTIE 4 IISALMI 74130',
 'xxxxxxxLÄNTIE 4 IISALMI 74130',
 'xxxxxxxLÄNTIE 4 IISALMI 74130',
 'xxxxxxxLÄNTIE 4 IISALMI 74130',
 'xxxxxxxxxxxxxxxxxxksanterinkatu 18-22 LAHTI 15140',
 'xxxxxxxxxxxAUDENKATU 17 LAHTI 15140',
 'xxxxxxxxxxxxxxxxxxksanterinkatu 18-22 LAHTI 15140',
 'xxxxxxxxxxxxxxxxxxksanterinkatu 18-22 LAHTI 15140',
 'xxxxxxxxxxxxxxxxxxksanterinkatu 18-22 LAHTI 15140',
 'xxxxxxxxxxxAUDENKATU 17 LAHTI 15140',
 'xxxxxxxxxxxxxxxxxxksanterinkatu 18-22 LAHTI 15140',
 'xxxxxxxxxxxxxxxxxxksanterinkatu 18-22 LAHTI 15140',
 'xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130',
 'xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALMI 74130',
 'xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130',
 'xxxxxxxxxxxISTIC CENTER IISALMI 74130',
 'xxxxxASKATU LISALMI 74130',
 'xxxxxASKATU LISALMI 74130',
 'xxxxxASKATU LISALMI 74130',
 'xxxxxxxxxxxxxxxxxxÄSKATU 3 / ALAKERTA IISALMI 74130',
 'xxxxxxxxxxxxJUUNTIE 17-19 PORI 28360',
 'xxxxxxxxxxxxjuuntie 17-19 Pori 28360 28360',
 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxuritie 11, lastauslaituri: Huolto 4 Helsinki 520',
 'xxxxxxxxxxxxxxxxxxxxURITIE 11 TILA A-4072 HELSINKI 520',
 'xxxxxxxxxxxxxxxxxxxxURITIE 11 TILA A-4072 HELSINKI 520',
 'xxxxxxxxxxxxxxxxxxxxURITIE 11 TILA A-4072 HELSINKI 520',
 'xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALMI 74130',
 'xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130',
 'xxxxxxxxsantie 10 LAPINLAHTI 73100',
 'xxxxxxxxxxxxxxxxxxksanterinkatu 18-22 LAHTI 15140',
 'xxxxxxxxsantie 10 LAPINLAHTI 73100',
 'xxxxxxxxpinkatu 5 KOUVOLA 45130',
 'xxxxxxxxxxxTILANKATU 15 KOUVOLA 45130',
 'xxxxxxxxpinkatu 5 KOUVOLA 45130',
 'xxxxxxxxxxxTILANKATU 15 Kouvola 45130',
 'xxxxxxxxxxxtilankatu 15 KOUVOLA 45130',
 'xxxxxxxxxxxTILANKATU 15 Kouvola 45130',
 'xxxxxxxxxxxTILANKATU 15 KOUVOLA 45130',
 'xxxxxxxxPINKATU 5 Kouvola 45130',
 'xxxxxxxxPINKATU 5 KOUVOLA 45130',
 'xxxxxxxxPINKATU 5 KOUVOLA 45130',
 'xxxxxxxtikuja 1 VAASA 65380',
 'xxxxxxxxxxxxxxxxxxxxxxxxxx: MIKAEL JOHAN ERIK NYKVIST WAASA 65380',
 'xxxxxxxTIKUJA 1 VAASA 65380',
 'xxxxxSANTIE LAPINLAHTI 73100',
 'xxxxxxxHOYTAEMO LEMPAEAELAE 33880',
 'xxxxxxxHOYTAEMO LEMPAEAELAE 33880',
 'xxxxxxxHOYTAEMO LEMPAEAELAE 33880',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxxPÄVAARANKATU 3 ESPOO 2600',
 'xxxxxxxxxxxxxPÄVAARANKATU 3 ESPOO 2600',
 'xxxxxxxxxxxxxPÄVAARANKATU 3 ESPOO 2600',
 'xxxxxxxxxxxxxPÄVAARANKATU 3 ESPOO 2600',
 'xxxxxxxxxxxxxPÄVAARANKATU 3 ESPOO 2600',
 'xxxxxxxxxxxxxPÄVAARANKATU 3 ESPOO 2600',
 'xxxxxxxxxxxxxPÄVAARANKATU 3 ESPOO 2600',
 'xxxxxxxxxxxxxPÄVAARANKATU 3 ESPOO 2600',
 'xxxxxxxxxxxxxPÄVAARANKATU 3 ESPOO 2600',
 'xxxxxxxxxxxxxPÄVAARANKATU 3 ESPOO 2600',
 'xxxxxxxxxxxxxPÄVAARANKATU 3 ESPOO 2600',
 'xxxxxxxxxxxxxxxxxxtaa Kolmannen tie 3 VALKEALA 45370',
 'xxxxxxxxxxxxxPÄVAARANKATU 3 ESPOO 2600',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxASKATU LISALMI 74130',
 'xxxxxxxxxxxxTAA III TIE 3 VALKEALA 45370',
 'xxxxxxxxxxxkuksentie 60 KUOPIO 70800',
 'xxxxxxxHOYTAEMO LEMPAEAELAE 33880',
 'xxxxxxxxxxxxxxxytaemoentie - 11 Lempaeaelae 33880',
 'xxxxxxxtystie 2 Jyvaeskylae 40320',
 'xxxxxxxtystie 2 JYVÄSKYLÄ 40320',
 'xxxxxxxxxxxkuksentie 60 KUOPIO 70800',
 'xxxxxxxxxxxKUKSENTIE 60 KUOPIO 70800',
 'xxxxxxxxxxxKUKSENTIE 60 KUOPIO 70800',
 'xxxxxxxxxxxKUKSENTIE 60 KUOPIO 70800',
 'xxxxxxxxxxxkuksentie 60 KUOPIO 70800',
 'xxxxxxxxxxxkuksentie 60 KUOPIO 70800',
 'xxxxxxxxxxxkuksentie 60 KUOPIO 70800',
 'xxxxxxxxxxxKUKSENTIE 60 KUOPIO 70800',
 'xxxxxxxxxxxkuksentie 60 KUOPIO 70800',
 'xxxxxxxxxxxxtaa III tie 3 Valkeala 45370',
 'xxxxxxxxxxxKUKSENTIE 60 KUOPIO 70800',
 'xxxxxxxxxxxkuksentie 60 KUOPIO 70800',
 'xxxxxxxxxxxkuksentie 60 KUOPIO 70800',
 'xxxxxxxxxxxkuksentie 60 KUOPIO 70800',
 'xxxxxxxxxxxKUKSENTIE 60 KUOPIO 70800',
 'xxxxxxxxxxxxxonkatu 24 LH 4 Kuopio 70110',
 'xxxxxxxxxxxKUKSENTIE 60 KUOPIO 70800',
 'xxxxxxxxxxxKUKSENTIE 60 KUOPIO 70800',
 'xxxxxxxxxxxxxxjonlaaksontie 2 KUOPIO 70210',
 'xxxxxxxxxxxKUKSENTIE 60 KUOPIO 70800',
 'xxxxxxxxxxxKUKSENTIE 60 KUOPIO 70800',
 'xxxxxxxxxxxKUKSENTIE 60 KUOPIO 70800',
 'xxxxxxxxxxxkuksentie 60 KUOPIO 70800',
 'xxxxxxxxxxxKUKSENTIE 60 KUOPIO 70800',
 'xxxxxxxxxxxkuksentie 60 KUOPIO 70800',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxkamontie 13 KAJAANI 87100',
 'xxxxxxxxxxKAMONTIE 13 KAJAANI 87300',
 'xxxxxxxxxxxxxxxxxxskylän puistokatu 4 HELSINKI 840',
 'xxxxxxxxKINTORI 3 HELSINKI 790',
 'xxxxxxxxKINTORI 3 HELSINKI 790',
 'xxxxxxxxxxxxxxxxxxskylän puistokatu 4 HELSINKI 840',
 'xxxxxxxxKINTORI 3 HELSINKI 790',
 'xxxxxxxxxxxlypurontie 1 HELSINKI 920',
 'xxxxxxxxxxxLYPURONTIE 1 HELSINKI 920',
 'xxxxxxxxxxxlypurontie 1 HELSINKI 920',
 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxLYPURONTIE 1 1KRS.PÄÄSISKÄYNTI HELSINKI 920',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxKSUONTIE 1 KERAVA 4220',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxxxxxxxxxTINEN TEOLLISUUSKATU 6 Espoo 2920',
 'xxxxxxxxxxxxxxxxxxxxxtinen Teollisuuskatu 6 Espoo 02920 2920',
 'xxxxxxxxxxxxxxxxxxxxxTINEN TEOLLISUUSKATU 6 ESPOO 2920',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 Tampere 33840',
 'xxxxxxxxxxxxxKIJARVENKATU 1 TAMPERE 33680',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxKSUONTIE 1 KERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxKSUONTIE 1 KERAVA 4220',
 'xxxxxxxxxxkamontie 13 KAJAANI 87300',
 'xxxxxxxxxxKAMONTIE 13 KAJAANI 87300',
 'xxxxxxxxxxKAMONTIE 13 KAJAANI 87100',
 'xxxxxxxxxxKAMONTIE 13 KAJAANI 87300',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxKAMONTIE 13 KAJAANI 87100',
 'xxxxxxxxxxkamontie 13 KAJAANI 87300',
 'xxxxxxxxxxxxxxxxxxxxxxkamontie 13, G-rakennus KAJAANI 87300',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxxKAMONTIE 13 KAJAANI 87300',
 'xxxxxxxxxxxxxKIJARVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJARVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJARVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxxxxxxxxxTINEN TEOLLISUUSKATU 6 ESPOO 2920',
 'xxxxxxxiokatu 8 Lahti 15610',
 'xxxxxxxiokatu 8 15610 Lahti 5800',
 'xxxxxxxxxxxxxxxxkussairaalantie 7 Lahti 15850',
 'xxxxxxxxxxxxxxxxxkussairaalankatu 7 LAHTI 15850',
 'xxxxxxxLOKESKUS LAHTI 15850',
 'xxxxxxxxxxxxxxxxxKUSSAIRAALANKATU 7 LAHTI 15850',
 'xxxxxxxxxxxxxxxxxkussairaalankatu 7 LAHTI 15850',
 'xxxxxxxxxxxxlalammentie 4 Kuopio 70780 70780',
 'xxxxxxxxxxxxLALAMMENTIE 4 KUOPIO 70780',
 'xxxxxxxxxxxxlalammentie 4 Kuopio 70780 70780',
 'xxxxxxxxxxxxlalammentie 4 KUOPIO 70780',
 'xxxxxxxxxxxxxxxxkussairaalantie 7 Lahti 15850',
 'xxxxxxxxxxxxxxxxxxxxxtinen Teollisuuskatu 6 Espoo 02920 2920',
 'xxxxxxADDRESS IISALMI 74100',
 'xxxxxxloasema KAJAANI 87100',
 'xxxxxxADDRESS KAJAANI 87100',
 'xxxxxxxxxxxxxxxxxxxxxxkamontie 13, G-rakennus KAJAANI 87300',
 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxKAMONTIE 13 (Lastauslaituri 1 Ravintoh. keittiö KAJAANI 87300',
 'xxxxxxxxxxxxxxxxxxxxxxKAMONTIE 13, G-RAKENNUS KAJAANI 87300',
 'xxxxxxxxxxxxxxxxxxxxxxkamontie 13, G-rakennus KAJAANI 87300',
 'xxxxxxxxxxxxxxxxxxxxxxKAMONTIE 13, G-RAKENNUS KAJAANI 87100',
 'xxxxxxxxxxxxxxxxxxxxxxkamontie 13, G-Rakennus KAJAANI 87100',
 'xxxxxxxxxxxxxxxxxxxxxxKAMONTIE 13, G-RAKENNUS KAJAANI 87100',
 'xxxxxxxxxxxxxxxxxxxxxkamontie 13 G-rakennus Kajaani 87100',
 'xxxxxxxxxxKAMONTIE 13 KAJAANI 87300',
 'xxxxxxxxxxxxxxxxxxxxxxkamontie 13, G-Rakennus KAJAANI 87100',
 'xxxxxxxxxxkamontie 13 KAJAANI 87300',
 'xxxxxxxxINKATU 10 IISALMI 74120',
 'xxxxxxxxxxxxxxxxxxxxxxKAMONTIE 13, G-RAKENNUS KAJAANI 87100',
 'xxxxxxxxxxraalantie 3 PORI 28500',
 'xxxxxxxxxxraalantie 3 PORI 28500',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJARVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJARVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJARVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJARVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJARVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxxxxtoradantie 6 - 14 Vantaa 1530',
 'xxxxxxxxxxraalantie 3 PORI 28500',
 'xxxxxxxxxxxxxxxxxxxxxxxxtoradantie 6 ,Door nro 14 Vantaa 1530',
 'xxxxxxxxxxxxxKIJARVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJARVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJARVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJARVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJARVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxraalantie 3 PORI 28500',
 'xxxxxxloasema PORI 28500',
 'xxxxxxxxxxraalantie 3 PORI 28500',
 'xxxxxxxxxxraalantie 3 PORI 28500',
 'xxxxxxxxxxRAALANTIE 3 PORI 28500',
 'xxxxxxxxxRAALENTIE3 PORI 28500',
 'xxxxxxxxxxxxxKIJARVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxksuontie 1 kERAVA 4220',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxxxnerheimintie 20 Helsinki 100',
 'xxxxxxxxxJERIKATU 2 IISALMI 74100',
 'xxxxxxxxxxxxxxnerheimintie 20 Helsinki 100',
 'xxxxxxxxxxxxxxnerheimintie 20 Helsinki 100',
 'xxxxxxxxxJERIKATU 2 IISALMI 74100',
 'xxxxxxxxxstakatu 20 IISALMI 74120',
 'xxxxxxxxxxxxxxnerheimintie 20 Helsinki 100',
 'xxxxxxxxxxxxxxnerheimintie 20 Helsinki 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxjerikatu 2 Iisalmi 74120',
 'xxxxxxxxxstakatu 20 IISALMI 74120',
 'xxxxxxxxxxxxxxxxxxxxxxxxxjerikatu 2, Koontitoimitus IISALMI 74100',
 'xxxxxxxxxjerikatu 2 IISALMI 74100',
 'xxxxxxxxxxxxxxxxxSORINTIE 5, OVI D1 VAASA 65380',
 'xxxxxxxxxsorintie 5 VAASA 65380',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxxnerheimintie 20 Helsinki 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxxxxxnerheimintie 20 Helsinki 100',
 'xxxxxxxxxxxxxxnerheimintie 20 Helsinki 100',
 'xxxxxxxxxxxxxxnerheimintie 20 Helsinki 100',
 'xxxxxxxxxxxxxxnerheimintie 20 Helsinki 100',
 'xxxxxxxxxxkamontie 13 Kajaani 87100',
 'xxxxxxxxxxkamontie 13 Kajaani 87100',
 'xxxxxxxxxxkamontie 13 Kajaani 87100',
 'xxxxxxxxxxkamontie 13 Kajaani 87100',
 'xxxxxxxxxxkamontie 13 Kajaani 87100',
 'xxxxxxxxxxkamontie 13 Kajaani 87100',
 'xxxxxxxxxxkamontie 13 Kajaani 87100',
 'xxxxxxxxxxkamontie 13 Kajaani 87100',
 'xxxxxxxxxxkamontie 13 Kajaani 87100',
 'xxxxxxxxxxkamontie 13 Kajaani 87100',
 'xxxxxxxxxxkamontie 13 Kajaani 87100',
 'xxxxxxxxxxkamontie 13 Kajaani 87100',
 'xxxxxxxxxxKAMONTIE 13 KAJAANI 87300',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxkamontie 13 KAJAANI 87300',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxpääläntie 39 Valkeakoski 37630',
 'xxxxxxxxxxxxxxxxpääläntie 39 lh 5 VALKEAKOSKI 37630',
 'xxxxxxxxxxxxxxxxxPÄÄLÄNTIE 39 LH. 5 VALKEAKOSKI 37630',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxxnerheimintie 20 Helsinki 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxxnerheimintie 20 Helsinki 100',
 'xxxxxxxxxxxxxxxxxxxxxxKAMONTIE 13, G-RAKENNUS KAJAANI 87100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxxxxxxxxxxDESJÄRVEN TOIMIPISTE TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxxnerheimintie 20 Helsinki 100',
 'xxxxxxxxxxxxxxnerheimintie 18 HELSINKI 100',
 'xxxxxxxxxxxxxxnerheimintie 18 HELSINKI 100',
 'xxxxxxxxxxxxxxnerheimintie 18 HELSINKI 100',
 'xxxxxxxxxxxxxxnerheimintie 20 Helsinki 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxxnerheimintie 14 HELSINKI 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxxxxxxxxxläinen Rautatiekatu 12 Helsinki 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxppakeskus Forum Mannerheimintie Helsinki 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxppakeskus Forum Mannerheimintie Helsinki 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxppakeskus Forum Mannerheimintie Helsinki 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxppakeskus Forum Mannerheimintie Helsinki 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxppakeskus Forum Mannerheimintie Helsinki 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxppakeskus Forum Mannerheimintie Helsinki 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxppakeskus Forum Mannerheimintie Helsinki 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxppakeskus Forum Mannerheimintie Helsinki 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxppakeskus Forum Mannerheimintie Helsinki 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxxxxxxxxxxKAMONTIE 13, G-RAKENNUS KAJAANI 87100',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxxxxlynkivenkuja 8 VANTAA 1620',
 'xxxxxxxxxxxxxxxxxxxxxlynkivenkuja 8, ovi 15 VANTAA 1620',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxumgallerian HELSINGFORS 100',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxxxxxxxxxxxxxum Lastagen, Simonsgatan 2 HELSINGFORS 100',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJARVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJARVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxdesjaerven toimipiste Saerkijaer Tampere 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxdesjaerven toimipiste Saerkijaer Tampere 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxxxxxxxxxxxxxxKAMONTIE 13, G-RAKENNUS KAJAANI 87100',
 'xxxxxxxxxxxxxxxxxxNUUN KESKUSSAIRAALA KAJAANI 87300',
 'xxxxxxxxxxxxxxO YLPÖN KATU 34 TAMPERE 33520',
 'xxxxxxxxxxxxxxo Ylpön katu 34 TAMPERE 33520',
 'xxxxxxxxxxxxxLLISUUSKATU 23 JOENSUU 80100',
 'xxxxxxxxxxILONKATU 31 JOENSUU 80130',
 'xxxxxxxxxxxxxxO YLPÖN KATU 34 TAMPERE 33520',
 'xxxxxxxxxxxxxxO YLPÖN KATU 34 TAMPERE 33520',
 'xxxxxxxxxxxxxxxxxNIKAISENKATU 20-22 JYVÄSKYLÄ 40100',
 'xxxxxxxxxxxxTORANNANTIE 2 JYVÄSKYLÄ 40520',
 'xxxxxxxxxxxxKUTTAJANTIE 2 JYVÄSKYLÄ 40340',
 'xxxxxxxxxxxxxRIJÄRVENTIE 52 PALOKKA 40270',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840',
 'xxxxxxxxxxxxxxPPI KAMPUS ARVO 33520 TAMPERE 33520',
 'xxxxxxxxxxxxxxO YLPÖN KATU 34 TAMPERE 33520',
 'xxxxxxxxxxxxxxo Ylpön katu 34 TAMPERE 33520',
 'xxxxxxxxxxxxxxxxKUSSAIRAALANTIE 6 SAVONLINNA 57120',
 'xxxxxxxxxxxxergagatan 3-9 ESBO 2600',
 'xxxxxxxxxtajantie 3 Jyväskylä 40620',
 'xxxxxxxxxTAJANTIE 3 JYVÄSKYLÄ 40620',
 'xxxxxxxxxTAJANTIE 3 JYVÄSKYLÄ 40620',
 'xxxxxxxxxtajantie 3 JYVÄSKYLÄ 40620',
 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxTAJANTIE 3 K-LOHKO AJOPORTTI 3 JYVÄSKYLÄ 40620',
 'xxxxxxxxxTAJANTIE 3 JYVÄSKYLÄ 40620',
 'xxxxxxxxxxxxAPARKINKATU 4 LEMPÄÄLÄ 37570',
 'xxxxxxxxxxxxAPARKINKATU 4 LEMPÄÄLÄ 37570',
 'xxxxxxxxxxxxAPARKINKATU 4 LEMPÄÄLÄ 37570',
 'xxxxxxxxxxxxaparkinkatu 4 Lempaala 37570',
 'xxxxxxxxxxxxaparkinkatu 4 Lempaala 37570',
 'xxxxxxxxxxxxaparkinkatu 4 Lempaala 37570',
 'xxxxxxxxxxxxxkijärvenkatu 1 Tampere 33840',

In [477]:
making_merging_data['merge_data_2']=n90_percent_data_list

In [478]:
making_merging_data

,Address,City,Post Code,Merged Stops,merged_data,merge_data_2
0,xxxxxxxximotie 11,VANDA,1400,1.0,xxxxxxxximotie 11 VANDA 1400,xxxxxxxximotie 11 VANDA 1400
1,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130
2,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...
3,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...
4,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130
...,...,...,...,...,...,...
41649,xxxxxxxxxxxxlimiehentie 2,VANTAA,1530,11.0,xxxxxxxxxxxxlimiehentie 2 VANTAA 1530,xxxxxxxxxxxxlimiehentie 2 VANTAA 1530
41650,xxxxxxxxxxxSITIE 8 LEVI,SIRKKA,99130,11.0,xxxxxxxxxxxSITIE 8 LEVI SIRKKA 99130,xxxxxxxxxxxSITIE 8 LEVI SIRKKA 99130
41651,xxxxxxxxxxxxlimiehentie 2,VANTAA,1530,11.0,xxxxxxxxxxxxlimiehentie 2 VANTAA 1530,xxxxxxxxxxxxlimiehentie 2 VANTAA 1530
41652,xxxxxxxxxxxxrikukonkuja 5,Helsinki,700,11.0,xxxxxxxxxxxxrikukonkuja 5 Helsinki 700,xxxxxxxxxxxxrikukonkuja 5 Helsinki 700
41653,xxxxxxxxxxxxrikukonkuja 5,Helsinki,700,11.0,xxxxxxxxxxxxrikukonkuja 5 Helsinki 700,xxxxxxxxxxxxrikukonkuja 5 Helsinki 700

In [479]:
making_merging_data['target']=np.nan

In [480]:
for i in range(len(making_merging_data)):
    if making_merging_data.merged_data[i]==making_merging_data.merge_data_2[i]:
        making_merging_data.target[i]=1
    else:
        making_merging_data.target[i]=0

In [481]:
making_merging_data

,Address,City,Post Code,Merged Stops,merged_data,merge_data_2,target
0,xxxxxxxximotie 11,VANDA,1400,1.0,xxxxxxxximotie 11 VANDA 1400,xxxxxxxximotie 11 VANDA 1400,1.0
1,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130,1.0
2,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...,1.0
3,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER,IISALMI,74130,1.0,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...,xxxxxxxxxxxxxxxxxxxSSE LOGISTICS CENTER IISALM...,1.0
4,xxxxxxxxxxxTTAJANTIE 13,IISALMI,74130,1.0,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130,xxxxxxxxxxxTTAJANTIE 13 IISALMI 74130,1.0
...,...,...,...,...,...,...,...
41649,xxxxxxxxxxxxlimiehentie 2,VANTAA,1530,11.0,xxxxxxxxxxxxlimiehentie 2 VANTAA 1530,xxxxxxxxxxxxlimiehentie 2 VANTAA 1530,1.0
41650,xxxxxxxxxxxSITIE 8 LEVI,SIRKKA,99130,11.0,xxxxxxxxxxxSITIE 8 LEVI SIRKKA 99130,xxxxxxxxxxxSITIE 8 LEVI SIRKKA 99130,1.0
41651,xxxxxxxxxxxxlimiehentie 2,VANTAA,1530,11.0,xxxxxxxxxxxxlimiehentie 2 VANTAA 1530,xxxxxxxxxxxxlimiehentie 2 VANTAA 1530,1.0
41652,xxxxxxxxxxxxrikukonkuja 5,Helsinki,700,11.0,xxxxxxxxxxxxrikukonkuja 5 Helsinki 700,xxxxxxxxxxxxrikukonkuja 5 Helsinki 700,1.0
41653,xxxxxxxxxxxxrikukonkuja 5,Helsinki,700,11.0,xxxxxxxxxxxxrikukonkuja 5 Helsinki 700,xxxxxxxxxxxxrikukonkuja 5 Helsinki 700,1.0

In [482]:
making_merging_data.target.value_counts()

1.0    41654
Name: target, dtype: int64

In [319]:
mix_data=features_data[len(making_merging_data):].reset_index().drop(['index'],1)

In [320]:
mix_data=mix_data.drop(['merge_data'],1)

In [321]:
mix_data

,Address,City,Post Code,Merged Stops,merged_data
0,xxxxxxxxxxxxxVOLANKATU 20 B,KOUVOLA,45100,26.0,xxxxxxxxxxxxxVOLANKATU 20 B KOUVOLA 45100
1,xxxxxxxxinkaantie,PORI,28130,26.0,xxxxxxxxinkaantie PORI 28130
2,xxxxxxxxxxraalantie 1,PORVOO,6150,26.0,xxxxxxxxxxraalantie 1 PORVOO 6150
3,xxxxxxxxxxxAUDENKATU 10,LAHTI,15110,26.0,xxxxxxxxxxxAUDENKATU 10 LAHTI 15110
4,xxxxxxxxxxxxxxxxxxxxxxxxxxxlitie 16 V 1 Hallit...,Rovaniemi,96320,26.0,xxxxxxxxxxxxxxxxxxxxxxxxxxxlitie 16 V 1 Hallit...
...,...,...,...,...,...
6380,xxxxxxADDRESS,JOUTSENO,54100,79.0,xxxxxxADDRESS JOUTSENO 54100
6381,xxxxxxxxxiokuja 4-6,TURKU,20380,80.0,xxxxxxxxxiokuja 4-6 TURKU 20380
6382,xxxxxxxIOKUJA 6,TURKU,20380,80.0,xxxxxxxIOKUJA 6 TURKU 20380
6383,"xxxxxxxxxxxxxxxxxxxxxKTRONIIKKATIE 2, 2.KRS",OULU,90590,81.0,"xxxxxxxxxxxxxxxxxxxxxKTRONIIKKATIE 2, 2.KRS OU..."
6384,xxxxxxxxxxxxxxKTRONIIKKATIE 2,OULU,90590,81.0,xxxxxxxxxxxxxxKTRONIIKKATIE 2 OULU 90590

In [322]:
f_30=len(mix_data)*30//100
for i in range(f_30):
    mix_data.merged_data[i]=mix_data.merged_data[i][:len(mix_data.merged_data[i])//2]+"%"+mix_data.merged_data[i][len(mix_data.merged_data[i])//2:]

In [324]:

for i in range(f_30,f_30+f_30):
    mix_data.merged_data[i]=mix_data.merged_data[i][:len(mix_data.merged_data[i])//2]+"$"+mix_data.merged_data[i][len(mix_data.merged_data[i])//2:]

In [327]:

for i in range(f_30+f_30,f_30+f_30+f_30):
    mix_data.merged_data[i]=mix_data.merged_data[i][:len(mix_data.merged_data[i])//2]+"&"+mix_data.merged_data[i][len(mix_data.merged_data[i])//2:]

,Address,City,Post Code,Merged Stops,merged_data
0,xxxxxxxxxxxxxVOLANKATU 20 B,KOUVOLA,45100,26.0,xxxxxxxxxxxxxVOLANKA%xxxxxxxxxxxxxVOLANKA
1,xxxxxxxxinkaantie,PORI,28130,26.0,xxxxxxxxinkaan%xxxxxxxxinkaan
2,xxxxxxxxxxraalantie 1,PORVOO,6150,26.0,xxxxxxxxxxraalan%xxxxxxxxxxraalan
3,xxxxxxxxxxxAUDENKATU 10,LAHTI,15110,26.0,xxxxxxxxxxxAUDENK%xxxxxxxxxxxAUDENK
4,xxxxxxxxxxxxxxxxxxxxxxxxxxxlitie 16 V 1 Hallit...,Rovaniemi,96320,26.0,xxxxxxxxxxxxxxxxxxxxxxxxxxxlitie 16%xxxxxxxxxx...
...,...,...,...,...,...
95,xxxxxxxxxxxaasatama 106,Hanko 10900,10900,26.0,xxxxxxxxxxxaasatama %xxxxxxxxxxxaasatama
96,"xxxxxxxxxxxxxxxxxxxxxxxxkikatu 27 A-rappu, 5. krs",ROVANIEMI,96100,26.0,xxxxxxxxxxxxxxxxxxxxxxxxkikatu 2%xxxxxxxxxxxxx...
97,xxxxxxxxxPPAKATU 13,LAHTI,15140,26.0,xxxxxxxxxPPAKAT%xxxxxxxxxPPAKAT
98,xxxxxxxxuntie 150,ESPOO,2740,26.0,xxxxxxxxuntie %xxxxxxxxuntie
99,xxxxxxxxuntie 150,Espoo,2740,26.0,xxxxxxxxuntie %xxxxxxxxuntie

In [331]:
mix_data['merge_data_2']=np.nan

In [335]:
for i in range(len(mix_data)):
    mix_data['merge_data_2'][i]=mix_data['Address'][i].lower()+" "+str(mix_data['City'][i]).upper()+" "+str(mix_data['Post Code'][i])
#new_dat_next_45['address_with_city_zipcode_1'][i]=new_dat_next_45['Address'][i]+" "+str(new_dat_next_45['City'][i])+" "+str(new_dat_next_45['Post Code'][i])

In [336]:
mix_data

,Address,City,Post Code,Merged Stops,merged_data,merge_data_2
0,xxxxxxxxxxxxxVOLANKATU 20 B,KOUVOLA,45100,26.0,xxxxxxxxxxxxxVOLANKA%xxxxxxxxxxxxxVOLANKA,xxxxxxxxxxxxxvolankatu 20 b KOUVOLA 45100
1,xxxxxxxxinkaantie,PORI,28130,26.0,xxxxxxxxinkaan%xxxxxxxxinkaan,xxxxxxxxinkaantie PORI 28130
2,xxxxxxxxxxraalantie 1,PORVOO,6150,26.0,xxxxxxxxxxraalan%xxxxxxxxxxraalan,xxxxxxxxxxraalantie 1 PORVOO 6150
3,xxxxxxxxxxxAUDENKATU 10,LAHTI,15110,26.0,xxxxxxxxxxxAUDENK%xxxxxxxxxxxAUDENK,xxxxxxxxxxxaudenkatu 10 LAHTI 15110
4,xxxxxxxxxxxxxxxxxxxxxxxxxxxlitie 16 V 1 Hallit...,Rovaniemi,96320,26.0,xxxxxxxxxxxxxxxxxxxxxxxxxxxlitie 16%xxxxxxxxxx...,xxxxxxxxxxxxxxxxxxxxxxxxxxxlitie 16 v 1 hallit...
...,...,...,...,...,...,...
6380,xxxxxxADDRESS,JOUTSENO,54100,79.0,xxxxxxADDRESS JOUTSENO 54100,xxxxxxaddress JOUTSENO 54100
6381,xxxxxxxxxiokuja 4-6,TURKU,20380,80.0,xxxxxxxxxiokuja 4-6 TURKU 20380,xxxxxxxxxiokuja 4-6 TURKU 20380
6382,xxxxxxxIOKUJA 6,TURKU,20380,80.0,xxxxxxxIOKUJA 6 TURKU 20380,xxxxxxxiokuja 6 TURKU 20380
6383,"xxxxxxxxxxxxxxxxxxxxxKTRONIIKKATIE 2, 2.KRS",OULU,90590,81.0,"xxxxxxxxxxxxxxxxxxxxxKTRONIIKKATIE 2, 2.KRS OU...","xxxxxxxxxxxxxxxxxxxxxktroniikkatie 2, 2.krs OU..."
6384,xxxxxxxxxxxxxxKTRONIIKKATIE 2,OULU,90590,81.0,xxxxxxxxxxxxxxKTRONIIKKATIE 2 OULU 90590,xxxxxxxxxxxxxxktroniikkatie 2 OULU 90590

In [337]:
mix_data['target']=1

In [338]:
making_merging_data=making_merging_data.drop(['merge_data'],1)

In [351]:
training_dat=making_merging_data+(mix_data)

In [352]:
len(training_dat)

57454

In [353]:
making_merging_data

,Address,City,Post Code,Merged Stops,merged_data,merge_data_2,target
0,xxxxxxxximotie 11,VANDA,1400,1.0,xxxxxxxximotie 11 VANDA 1400,xxxxxxxximotie 11 VANDA 1400,1.0
1,xxxxxxxxxxxxxxxxxxxxxxjoinen Hesperiankatu 17,HELSINKI,260,1.0,xxxxxxxxxxxxxxxxxxxxxxjoinen Hesperiankatu 17 ...,xxxxxxxxxxxxxxxxxxxxxxjoinen Hesperiankatu 17 ...,1.0
2,xxxxxxxxxxxxxkijärvenkatu 1,TAMPERE,33840,1.0,xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840,xxxxxxxxxxxxxkijärvenkatu 1 TAMPERE 33840,1.0
3,xxxxxxxxxxxxxKIJÄRVENKATU 1,TAMPERE,33840,1.0,xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840,xxxxxxxxxxxxxKIJÄRVENKATU 1 TAMPERE 33840,1.0
4,xxxxxxxxxxxxxxxrkijaervenkatu 1,Tampere,33840,1.0,xxxxxxxxxxxxxxxrkijaervenkatu 1 Tampere 33840,xxxxxxxxxxxxxxxrkijaervenkatu 1 Tampere 33840,1.0
...,...,...,...,...,...,...,...
57449,xxxxxxxxxxxxxvolankatu 20 B,KOUVOLA,45100,26.0,xxxxxxxxxxxxxvolankatu 20 B KOUVOLA 45100,xxxxxxxxxppakatu 30 JOENSUU 80100,0.0
57450,xxxxxxxxxxxxxvolankatu 20 B,KOUVOLA,45100,26.0,xxxxxxxxxxxxxvolankatu 20 B KOUVOLA 45100,xxxxxxxxxppakatu 30 JOENSUU 80100,0.0
57451,xxxxxxONTIE 7,JUUKA,83900,26.0,xxxxxxONTIE 7 JUUKA 83900,xxxxxxxxxppakatu 30 JOENSUU 80100,0.0
57452,xxxxxxONTIE 7,JUUKA,83900,26.0,xxxxxxONTIE 7 JUUKA 83900,xxxxxxxxxÄLLINTIE 4 PORVOO 6100,0.0
57453,xxxxADD -,JUUKA,83900,26.0,xxxxADD - JUUKA 83900,xxxxxxxxxÄLLINTIE 4 PORVOO 6100,0.0

In [354]:
mix_data

,Address,City,Post Code,Merged Stops,merged_data,merge_data_2,target
0,xxxxxxxxxxxxxVOLANKATU 20 B,KOUVOLA,45100,26.0,xxxxxxxxxxxxxVOLANKA%xxxxxxxxxxxxxVOLANKA,xxxxxxxxxxxxxvolankatu 20 b KOUVOLA 45100,1
1,xxxxxxxxinkaantie,PORI,28130,26.0,xxxxxxxxinkaan%xxxxxxxxinkaan,xxxxxxxxinkaantie PORI 28130,1
2,xxxxxxxxxxraalantie 1,PORVOO,6150,26.0,xxxxxxxxxxraalan%xxxxxxxxxxraalan,xxxxxxxxxxraalantie 1 PORVOO 6150,1
3,xxxxxxxxxxxAUDENKATU 10,LAHTI,15110,26.0,xxxxxxxxxxxAUDENK%xxxxxxxxxxxAUDENK,xxxxxxxxxxxaudenkatu 10 LAHTI 15110,1
4,xxxxxxxxxxxxxxxxxxxxxxxxxxxlitie 16 V 1 Hallit...,Rovaniemi,96320,26.0,xxxxxxxxxxxxxxxxxxxxxxxxxxxlitie 16%xxxxxxxxxx...,xxxxxxxxxxxxxxxxxxxxxxxxxxxlitie 16 v 1 hallit...,1
...,...,...,...,...,...,...,...
6380,xxxxxxADDRESS,JOUTSENO,54100,79.0,xxxxxxADDRESS JOUTSENO 54100,xxxxxxaddress JOUTSENO 54100,1
6381,xxxxxxxxxiokuja 4-6,TURKU,20380,80.0,xxxxxxxxxiokuja 4-6 TURKU 20380,xxxxxxxxxiokuja 4-6 TURKU 20380,1
6382,xxxxxxxIOKUJA 6,TURKU,20380,80.0,xxxxxxxIOKUJA 6 TURKU 20380,xxxxxxxiokuja 6 TURKU 20380,1
6383,"xxxxxxxxxxxxxxxxxxxxxKTRONIIKKATIE 2, 2.KRS",OULU,90590,81.0,"xxxxxxxxxxxxxxxxxxxxxKTRONIIKKATIE 2, 2.KRS OU...","xxxxxxxxxxxxxxxxxxxxxktroniikkatie 2, 2.krs OU...",1
6384,xxxxxxxxxxxxxxKTRONIIKKATIE 2,OULU,90590,81.0,xxxxxxxxxxxxxxKTRONIIKKATIE 2 OULU 90590,xxxxxxxxxxxxxxktroniikkatie 2 OULU 90590,1

In [416]:
training_data=pd.concat([making_merging_data,mix_data])

In [417]:
training_data=shuffle(training_data).reset_index().drop(['index'],1)

In [418]:
# training_data.to_excel("data_.xlsx",sheet_name="data_with_masking")

In [419]:
import copy

In [420]:
without_mask=copy.deepcopy(training_data)

In [421]:
without_mask

,Address,City,Post Code,Merged Stops,merged_data,merge_data_2,target
0,xxxxxxxxÄSENTIE 3,KUOPIO,70700,6.0,xxxxxxxxÄSENTIE 3 KUOPIO 70700,xxxxxxxxxxxxNNIITYNKUJA 2 ESPOO 2270,0.0
1,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxppi Shopping Ce...,Helsinki,100,21.0,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxppi Shopping Ce...,xxxxxxxxxxDONKATU 2 B HELSINKI 520,0.0
2,xxxxxxxxKIKATU 27,ROVANIEMI,96100,37.0,xxxxxxxxKIKATU 2&xxxxxxxxKIKATU 2,xxxxxxxxkikatu 27 ROVANIEMI 96100,1.0
3,xxxxxxxxxksuontie 1,KERAVA,4220,1.0,xxxxxxxxxksuontie 1 KERAVA 4220,xxxxxxxxxksuontie 1 KERAVA 4220,1.0
4,xxxxxxiönkatu,FORSSA,30100,17.0,xxxxxxiönkatu FORSSA 30100,xxxxxxxxxENINKATU 2 HÄMEENLINNA 13100,0.0
...,...,...,...,...,...,...,...
63834,xxxxxxxxxxxxxxxxo Kekkosen Katu 1,Helsinki,100,1.0,xxxxxxxxxxxxxxxxo Kekkosen Katu 1 Helsinki 100,xxxxxxxxxxxxxxxxo Kekkosen Katu 1 Helsinki 100,1.0
63835,xxxxxxxxPPAKUJA 2,HAUKIPUDAS,90830,1.0,xxxxxxxxPPAKUJA 2 HAUKIPUDAS 90830,xxxxxxxxPPAKUJA 2 HAUKIPUDAS 90830,1.0
63836,"xxxxxxxxxxxxxxxxAANINTIE 48 C, G2",OULU,90220,16.0,"xxxxxxxxxxxxxxxxAANINTIE 48 C, G2 OULU 90220",xxxxxxxxxxxxvialantie 420 Hämeenlinna 13300,0.0
63837,xxxxxxxxxxxxxxxxxxku ovilla B205-B210,KERAVA,4220,1.0,xxxxxxxxxxxxxxxxxxku ovilla B205-B210 KERAVA 4220,xxxxxxxxxxxxxxxxxxku ovilla B205-B210 KERAVA 4220,1.0
63838,"xxxxxxxxxxxxxxxxxxxxxxxxxxKKITIE 1 /AW-STORE,R...",TUUSULA,4300,10.0,"xxxxxxxxxxxxxxxxxxxxxxxxxxKKITIE 1 /AW-STORE,R...",xxxxxxxxxxxxxxxxxxxxxxKALLIONTIE 3 OVET 21-26 ...,0.0

In [422]:
for i in range(len(without_mask)):
    without_mask.merged_data[i]=without_mask.merged_data[i].replace("x","")

In [423]:
for i in range(len(without_mask)):
    without_mask.merge_data_2[i]=without_mask.merge_data_2[i].replace("x","")

In [424]:
# training_data.to_excel("data_.xlsx",sheet_name="data_without_masking")

In [426]:
training_data

,Address,City,Post Code,Merged Stops,merged_data,merge_data_2,target
0,xxxxxxxxÄSENTIE 3,KUOPIO,70700,6.0,xxxxxxxxÄSENTIE 3 KUOPIO 70700,xxxxxxxxxxxxNNIITYNKUJA 2 ESPOO 2270,0.0
1,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxppi Shopping Ce...,Helsinki,100,21.0,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxppi Shopping Ce...,xxxxxxxxxxDONKATU 2 B HELSINKI 520,0.0
2,xxxxxxxxKIKATU 27,ROVANIEMI,96100,37.0,xxxxxxxxKIKATU 2&xxxxxxxxKIKATU 2,xxxxxxxxkikatu 27 ROVANIEMI 96100,1.0
3,xxxxxxxxxksuontie 1,KERAVA,4220,1.0,xxxxxxxxxksuontie 1 KERAVA 4220,xxxxxxxxxksuontie 1 KERAVA 4220,1.0
4,xxxxxxiönkatu,FORSSA,30100,17.0,xxxxxxiönkatu FORSSA 30100,xxxxxxxxxENINKATU 2 HÄMEENLINNA 13100,0.0
...,...,...,...,...,...,...,...
63834,xxxxxxxxxxxxxxxxo Kekkosen Katu 1,Helsinki,100,1.0,xxxxxxxxxxxxxxxxo Kekkosen Katu 1 Helsinki 100,xxxxxxxxxxxxxxxxo Kekkosen Katu 1 Helsinki 100,1.0
63835,xxxxxxxxPPAKUJA 2,HAUKIPUDAS,90830,1.0,xxxxxxxxPPAKUJA 2 HAUKIPUDAS 90830,xxxxxxxxPPAKUJA 2 HAUKIPUDAS 90830,1.0
63836,"xxxxxxxxxxxxxxxxAANINTIE 48 C, G2",OULU,90220,16.0,"xxxxxxxxxxxxxxxxAANINTIE 48 C, G2 OULU 90220",xxxxxxxxxxxxvialantie 420 Hämeenlinna 13300,0.0
63837,xxxxxxxxxxxxxxxxxxku ovilla B205-B210,KERAVA,4220,1.0,xxxxxxxxxxxxxxxxxxku ovilla B205-B210 KERAVA 4220,xxxxxxxxxxxxxxxxxxku ovilla B205-B210 KERAVA 4220,1.0
63838,"xxxxxxxxxxxxxxxxxxxxxxxxxxKKITIE 1 /AW-STORE,R...",TUUSULA,4300,10.0,"xxxxxxxxxxxxxxxxxxxxxxxxxxKKITIE 1 /AW-STORE,R...",xxxxxxxxxxxxxxxxxxxxxxKALLIONTIE 3 OVET 21-26 ...,0.0

In [427]:
without_mask

,Address,City,Post Code,Merged Stops,merged_data,merge_data_2,target
0,xxxxxxxxÄSENTIE 3,KUOPIO,70700,6.0,ÄSENTIE 3 KUOPIO 70700,NNIITYNKUJA 2 ESPOO 2270,0.0
1,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxppi Shopping Ce...,Helsinki,100,21.0,"ppi Shopping Center, Urho Kekkos Helsinki 100",DONKATU 2 B HELSINKI 520,0.0
2,xxxxxxxxKIKATU 27,ROVANIEMI,96100,37.0,KIKATU 2&KIKATU 2,kikatu 27 ROVANIEMI 96100,1.0
3,xxxxxxxxxksuontie 1,KERAVA,4220,1.0,ksuontie 1 KERAVA 4220,ksuontie 1 KERAVA 4220,1.0
4,xxxxxxiönkatu,FORSSA,30100,17.0,iönkatu FORSSA 30100,ENINKATU 2 HÄMEENLINNA 13100,0.0
...,...,...,...,...,...,...,...
63834,xxxxxxxxxxxxxxxxo Kekkosen Katu 1,Helsinki,100,1.0,o Kekkosen Katu 1 Helsinki 100,o Kekkosen Katu 1 Helsinki 100,1.0
63835,xxxxxxxxPPAKUJA 2,HAUKIPUDAS,90830,1.0,PPAKUJA 2 HAUKIPUDAS 90830,PPAKUJA 2 HAUKIPUDAS 90830,1.0
63836,"xxxxxxxxxxxxxxxxAANINTIE 48 C, G2",OULU,90220,16.0,"AANINTIE 48 C, G2 OULU 90220",vialantie 420 Hämeenlinna 13300,0.0
63837,xxxxxxxxxxxxxxxxxxku ovilla B205-B210,KERAVA,4220,1.0,ku ovilla B205-B210 KERAVA 4220,ku ovilla B205-B210 KERAVA 4220,1.0
63838,"xxxxxxxxxxxxxxxxxxxxxxxxxxKKITIE 1 /AW-STORE,R...",TUUSULA,4300,10.0,"KKITIE 1 /AW-STORE,RAKENNUS TUUSULA 4300",KALLIONTIE 3 OVET 21-26 VANTAA 1740,0.0

In [428]:
with pd.ExcelWriter('data_logistic.xlsx') as fileobj:
    training_data.to_excel(fileobj, sheet_name = 'data_with_masking', index = False)
    without_mask.to_excel(fileobj, sheet_name = 'data_without_masking', index = False)

In [402]:
training_data

,Address,City,Post Code,Merged Stops,merged_data,merge_data_2,target
0,xxxxxxxxxxxxxTISARANKATU 19,TAMPERE,33100,5.0,TISARANKATU 19 TAMPERE 33100,TISARANKATU 19 TAMPERE 33100,1.0
1,xxxxxxxxxxxkäkatu 28-30,VAASA,65100,1.0,käkatu 28-30 VAASA 65100,käkatu 28-30 VAASA 65100,1.0
2,xxxxxxxx0 753 007,OULU,90100,6.0,0 753 007 OULU 90100,0 753 007 OULU 90100,1.0
3,xxxxxxxxxxxxxxxxTO KÄKELÄN KATU 1,LAPPEENRANTA,53130,4.0,TO KÄKELÄN KATU 1 LAPPEENRANTA 53130,TO KÄKELÄN KATU 1 LAPPEENRANTA 53130,1.0
4,xxxxxxxxxxxxxxxxanpään Valtatie 1,TAMPERE,33100,9.0,anpään Valtatie 1 TAMPERE 33100,NISTÖNKATU 18 HYVINKÄÄ 5800,0.0
...,...,...,...,...,...,...,...
63834,"xxxxxxxxxxxxxxxxxxxlto 3, Fordonkatu 2B",HELSINKI,520,5.0,"lto 3, Fordonkatu 2B HELSINKI 520","lto 3, Fordonkatu 2B HELSINKI 520",1.0
63835,xxxxxxxxxxxxilahdenkatu 6,MIKKELI,50100,21.0,ilahdenkatu 6 MIKKELI 50100,IÖNKATU FORSSA 30100,0.0
63836,xxxxxxxlinja 25,Turku,20750,1.0,linja 25 Turku 20750,linja 25 Turku 20750,1.0
63837,xxxxxxxxxxxxxxASRINTEENTIE 22,ROVANIEMI,96400,4.0,ASRINTEENTIE 22 ROVANIEMI 96400,ASRINTEENTIE 22 ROVANIEMI 96400,1.0
63838,xxxxxxxxxxkkalantie 8,Lohja,8700,6.0,kkalantie 8 Lohja 8700,kkalantie 8 Lohja 8700,1.0